header{
  font-family: 'Times New Roman', Times, serif;
}
.title{
  text-align: center;
}
nav {
  text-align: center;
  background-color: #0a761a;
  color: #e6e6e6;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
}
.logo-nav{
  width: 8em;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: rgb(148, 232, 255);
}
nav a:hover {
  color: rgb(148, 232, 255);
  background-color: #396E94;
}
a:hover {
  color: rgb(148, 232, 255);
  background-color: #396E94;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main{
  font-family: 'Times New Roman', Times, serif;
}
.logo-main{
  width: 30em;
  height: 18em;
}
.background p{
  border: solid 2px #093012;
  padding: 10px;
  margin: 10px;
  background-color: #0a761a;
  color: #03aeba;
}
.favorite-list{
  color: rgb(71, 197, 255);
}
img{
  width: 80%;
  height: 100%;
}
#con{
  display: grid;
  justify-items: end;
}
#right-side-photo{
  grid-column: 3;
}
#left-side-photo{
  grid-column: 1;
}
body{
  background-color: rgba(0, 255, 145, 0.516);
}
h1{
  text-align: center;
  color: rgb(4, 9, 69);
}
h2{
  text-align: center;
  color: #03aeba;
  -webkit-text-stroke: .5px #000000;
}
.button-box{
  padding: 10px;
  text-align: center;
  background-color: #093012;
  color: #03aeba;
  font-size: x-large;
  border-radius: 100%;
}
.button-box:hover{
  background-color: #0a761a;
  border-radius: 100%;
}
h4{
  font-size: x-large;
  text-align: center;
}
p{
  text-align: center;
  font-size: large;
  color: #093012;
  margin: 0;
  -webkit-text-stroke: .1px #000000;
}
footer{
  font-size: 20px;
  margin: 20px auto;
}
.ingredients{
  font-size: large;
  text-align: center;
  border-top: cadetblue ;
  border-style: double;
  margin: 0 auto;
  width: 40%;
}
.instructions{
  text-align: center;
  font-size: x-large;
  color: #180052;
  width: 60%;
  margin: 0 auto;
}
.steps{
  text-align: center;
  font-size: large;
}
/* Learn grid for pics to be on both sides of the site */