header{
  font-family: 'Times New Roman', Times, serif;
}
.title{
  text-align: center;
  font-size: xx-large;
  color: rgb(71, 197, 255);
  -webkit-text-stroke: .7px #093012;
  background-color: #0a761a;
}
nav {
  text-align: center;
  background-color: #0a761a;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  list-style-type: none;
  display: flex;
}
.logo-nav{
  width: 8em;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: #e6e6e6;
}
nav a:hover {
  color: rgb(148, 232, 255);
  background-color: #396E94;
}
a:hover {
  color: rgb(148, 232, 255);
  background-color: #396E94;
}
#grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
main{
  font-family: 'Times New Roman', Times, serif;
}
.logo-div{
  text-align: center;
  margin: 0 auto;
}
.logo-main{
  width: 30em;
  height: 18em;
}
.background p{
  border: solid 2px #093012;
  padding: 10px;
  margin: 10px;
  background-color: #0a761a;
  color: rgb(71, 197, 255);
}
.favorite-list{
  color: rgb(71, 197, 255);
}
img{
  width: 80%;
  height: 100%;
}
#con{
  display: grid;
  justify-items: end;
}
#right-side-photo{
  grid-column: 3;
}
#left-side-photo{
  grid-column: 1;
}
body{
  background-color: rgba(0, 255, 145, 0.3);
}
h1, h5{
  text-align: center;
  color: #164a09;
  font-size: larger;
  -webkit-text-stroke: .5px #000000;
}
h2{
  text-align: center;
  color: #03aeba;
  -webkit-text-stroke: .5px #000000;
  font-size: larger;
}
.button-box{
  padding: 10px;
  text-align: center;
  background-color: #093012;
  color: #03aeba;
  font-size: x-large;
  border-radius: 100%;
  margin-bottom: 1em;
}
.button-box:hover{
  background-color: #0a761a;
  border-radius: 100%;
}
h4{
  color: #164a09; 
  font-size: x-large;
  text-align: center;
}
.recipe-titles h5, h2{
  background-color: #0a761a;
  -webkit-text-stroke: .3px #093012;
  color: rgb(71, 197, 255);
}
p{
  text-align: center;
  font-size: large;
  color: #164a09;
  margin: 0;
  -webkit-text-stroke: .1px #000000;
}
.about-site p{
  border: solid 2px #093012; 
  padding: 2px;
  color: rgb(71, 197, 255);
  background-color: #0a761a;
}
footer{
  font-size: 20px;
  margin: 20px auto;
}
.ingredients{
  font-size: large;
  text-align: center;
  border-top: cadetblue ;
  border-style: double;
  margin: 0 auto;
  width: 40%;
}
.instructions{
  text-align: center;
  font-size: x-large;
  color: #180052;
  width: 60%;
  margin: 0 auto;
}
.steps{
  text-align: center;
  font-size: large;
}
#site-plan-link{
  background-color: #180052;
  color: #03aeba;
  padding: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 30em;
  position: relative;
  margin: auto;
}
.slideshow-container .ice-cream{
  height: 18em;
}
.slideshow-container .pecan-pie{
  height: 18em;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #03aeba;
  -webkit-text-stroke: .5px #000000;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #164a09;
  background-color: #03aeba;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}